* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-weight: 400;
  line-height: 1.6;
}

:root {
  --background-light-theme: #fff;
  --background-dark-theme: #000;
  --text-light-theme: #000;
  --text-dark-theme: #fff;
}

section:not(:target) {
  display: none;
}

.checkbox--switch {
  position: absolute;
  top: 1rem;
  right: 1rem;
  opacity: 0;
  width: 0;
  height: 0;
}

.checkbox--switch__slider {
  position: absolute;
  top: 1rem;
  right: 10rem;
  background: blue;
  border-radius: 1rem;
  height: 2rem;
  width: 4rem;
  z-index: 50;
}

.checkbox--switch__slider::before {
  content: 'Light Mode';
  position: absolute;
  z-index: 40;
  top: 0;
  font-size: 1.4rem;
  display: block;
  width: 7.5rem;
  height: 2rem;
  -webkit-transform: translateX(-7.5rem);
          transform: translateX(-7.5rem);
}

.checkbox--switch__slider::after {
  content: 'Dark Mode';
  position: absolute;
  z-index: 40;
  top: 0;
  font-size: 1.4rem;
  display: block;
  width: 7.5rem;
  height: 2rem;
  -webkit-transform: translateX(3.8rem);
          transform: translateX(3.8rem);
  text-align: end;
}

.checkbox--switch__slider .icon {
  display: block;
  height: calc(2rem - 2px);
  width: calc(2rem - 2px);
  border-radius: 50%;
  -webkit-transform: translateX(1px) translateY(1px);
          transform: translateX(1px) translateY(1px);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.checkbox--switch:checked + .checkbox--switch__slider {
  background: orange;
}

.checkbox--switch:checked + .checkbox--switch__slider .icon {
  -webkit-transform: translateX(calc(2rem + 1px)) translateY(1px);
          transform: translateX(calc(2rem + 1px)) translateY(1px);
}

.checkbox--switch:not(:checked) ~ * {
  --background-color: var(--background-light-theme);
  --text-color: var(--text-light-theme);
}

.checkbox--switch:checked ~ * {
  --background-color: var(--background-dark-theme);
  --text-color: var(--text-dark-theme);
}

* {
  background: var(--background-color);
  color: var(--text-color);
  -webkit-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.navbar {
  width: 100%;
  height: 3rem;
  font-size: 1.6rem;
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  -ms-grid-columns: (minmax(min-content, 8rem))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(-webkit-min-content, 8rem));
      grid-template-columns: repeat(auto-fill, minmax(min-content, 8rem));
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

:root {
  --url-test: url('https://images.unsplash.com/photo-1513836279014-a89f7a76ae86?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80');
}

.gallery__radio {
  display: none;
}

.gallery__radio + label {
  display: inline-block;
  background: beige;
  width: 10rem;
  height: 10rem;
}

.gallery__radio:checked:not(:first-of-type) + label + span + input + label {
  background: bisque;
}

.gallery__radio:checked:not(:first-of-type) + label::before {
  content: 'previous';
  display: block;
  position: absolute;
  top: 50%;
  left: 40rem;
  font-size: 2rem;
}

.gallery__radio:checked + label + span::before {
  content: '';
  display: block;
  position: absolute;
  background: var(--url-test);
  -o-object-fit: scale-down;
     object-fit: scale-down;
  width: 40rem;
  height: 40rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.gallery__radio:checked + label + span + input + label + span + input + label::before {
  content: 'next';
  display: block;
  position: absolute;
  top: 50%;
  right: 40rem;
  font-size: 2rem;
}

.gallery__radio:first-of-type:checked + input + label {
  background: bisque;
}

.gallery__radio:first-of-type:checked + input + label + span + input + label::before {
  content: 'next';
  display: block;
  position: absolute;
  top: 50%;
  right: 40rem;
  font-size: 2rem;
}

.gallery__radio:first-of-type:checked + input + label + span::before {
  content: '';
  display: block;
  position: absolute;
  background: var(--url-test);
  -o-object-fit: scale-down;
     object-fit: scale-down;
  width: 40rem;
  height: 40rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.gallery__image {
  display: inline-block;
}

#home:target {
  font-size: 2rem;
}
/*# sourceMappingURL=style.0.1.css.map */