:root {
  --img-url: url('https://images.unsplash.com/photo-1513836279014-a89f7a76ae86?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80');
}

@mixin background {
  background: var(--img-url);
  // object-fit: cover;
  background-size: cover;
  background-position: center;
}

@mixin image {
  &::before {
    content: '';
    display: block;
    position: absolute;
    @include background;
    width: 70vmin;
    height: 70vmin;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@mixin next {
  content: 'next';
  display: block;
  position: absolute;
  top: 50%;
  right: 10vmin;
  font-size: 2rem;
}
@mixin previous {
  content: 'previous';
  display: block;
  position: absolute;
  top: 50%;
  left: 10vmin;
  font-size: 2rem;
}

.gallery {
  &__label--0,
  &__image--0 {
    --img-url: url('https://images.unsplash.com/photo-1447752875215-b2761acb3c5d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
  }
  &__label--1,
  &__image--1 {
    --img-url: url('https://images.unsplash.com/photo-1453785675141-67637e2d4b5c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1418&q=80');
  }
  &__label--2,
  &__image--2 {
    --img-url: url('https://images.unsplash.com/photo-1444465693019-aa0b6392460d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
  }
  &__label--3,
  &__image--3 {
    --img-url: url('https://images.unsplash.com/photo-1500829243541-74b677fecc30?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1355&q=80');
  }
  &__label--4,
  &__image--4 {
    --img-url: url('https://images.unsplash.com/photo-1453785675141-67637e2d4b5c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1418&q=80');
  }
  &__label--5,
  &__image--5 {
    --img-url: url('https://images.unsplash.com/photo-1504567961542-e24d9439a724?ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80');
  }
  &__label--6,
  &__image--6 {
    --img-url: url('https://images.unsplash.com/photo-1500534623283-312aade485b7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
  }
  // checks
  &__radio {
    display: none;
    & + label {
      display: inline-block;
      @include background;
      width: 10rem;
      height: 10rem;
    }

    &:checked:not(:first-of-type):not(:last-of-type) + label + span + input + label {
      @include background;
      filter: grayscale(100%);
    }
    &:checked:not(:first-of-type):not(:last-of-type) + label::before {
      @include previous;
    }
    &:checked:not(:last-of-type) + label + span + input + label + span {
      @include image;
    }
    &:checked:not(:last-of-type) + label + span + input + label + span + input + label::before {
      @include next;
    }
    &:first-of-type:checked {
      & + input + label {
        @include background;
        filter: grayscale(100%);
        & + span + input + label::before {
          @include next;
        }
      }
      & + input + label + span {
        @include image;
      }
    }
  }

  // images
  &__image {
    display: inline-block;
  }
  // display: grid;
  // grid-template-columns: repeat(3, minmax(30rem, 1fr));
  // grid-template-rows: repeat(3, minmax(30rem, 1fr));
}
