$dot-size: 2.5rem;
$shadow-width: 0.3rem;
@mixin filledDot {
  display: block;
  width: $dot-size;
  height: $dot-size;
  border-radius: 50%;
  border: solid $shadow-width var(--main-color);
  background-color: var(--main-color);
  align-self: center;
  justify-self: center;
  box-shadow: inset 0 0 0 $shadow-width var(--background-color);
}
@mixin emptyDot {
  display: block;
  width: $dot-size;
  height: $dot-size;
  border-radius: 50%;
  border: solid $shadow-width var(--main-color);
  background-color: var(--background-color);
  align-self: center;
  justify-self: center;
}

#home:target {
  --animation-interval: 5s;
  --animation-time: calc(var(--animation-interval) * 3);
  --animation-delay1: var(--animation-interval);
  --animation-delay2: calc(var(--animation-interval) * 2);
  font-size: 2rem;
  display: grid;
  grid-template-columns: 10vw 1fr repeat(3, 6rem) 1fr 10vw;
  grid-template-rows: 2rem 5rem 1fr;
  width: 100%;
  height: 80vh;
  .home__switch__radio {
    display: none;
  }
  .home__switch__label {
    --first-animation1: switchShow1 var(--animation-time) linear infinite reverse;
    --first-animation2: switchShow2 var(--animation-time) linear infinite reverse;
    --first-animation3: switchShow3 var(--animation-time) linear infinite reverse;
    --first-animation4: switchShow4 var(--animation-time) linear infinite reverse;
    --first-animation5: switchShow5 var(--animation-time) linear infinite reverse;
    --first-animation6: switchShow6 var(--animation-time) linear infinite reverse;
    --second--animation1: switchShow1-2 var(--animation-time) linear infinite normal;
    --second--animation2: switchShow2-2 var(--animation-time) linear infinite normal;
    --second--animation3: switchShow3-2 var(--animation-time) linear infinite normal;
    --second--animation4: switchShow4-2 var(--animation-time) linear infinite normal;
    --second--animation5: switchShow5-2 var(--animation-time) linear infinite normal;
    --second--animation6: switchShow6-2 var(--animation-time) linear infinite normal;
    --third-animation1: switchShow1 var(--animation-time) linear infinite normal;
    --third-animation2: switchShow2 var(--animation-time) linear infinite normal;
    --third-animation3: switchShow3 var(--animation-time) linear infinite normal;
    --third-animation4: switchShow4 var(--animation-time) linear infinite normal;
    --third-animation5: switchShow5 var(--animation-time) linear infinite normal;
    --third-animation6: switchShow6 var(--animation-time) linear infinite normal;
    // 1st image
    --switchAnimation1-1: var(--first-animation1);
    --switchAnimation1-2: var(--second--animation1);
    --switchAnimation1-3: var(--third-animation1);
    --switchAnimation4-1: var(--first-animation4);
    --switchAnimation4-2: var(--second--animation4);
    --switchAnimation4-3: var(--third-animation4);
    // 2nd image
    --switchAnimation2-1: var(--third-animation2);
    --switchAnimation2-2: var(--first-animation2);
    --switchAnimation2-3: var(--second--animation2);
    --switchAnimation5-1: var(--third-animation5);
    --switchAnimation5-2: var(--first-animation5);
    --switchAnimation5-3: var(--second--animation5);
    // 3rd image
    --switchAnimation3-1: var(--second--animation3);
    --switchAnimation3-2: var(--third-animation3);
    --switchAnimation3-3: var(--first-animation3);
    --switchAnimation6-1: var(--second--animation6);
    --switchAnimation6-2: var(--third-animation6);
    --switchAnimation6-3: var(--first-animation6);
    background-color: var(--background-color);
    grid-row: 2 / 3;
    display: grid;
    justify-content: center;
    align-content: center;
    &:active,
    &:focus {
      background-color: var(--main-color);
    }
    &:hover {
      cursor: pointer;
    }
  }
}
.home__container {
  --imageAnimation1: imageSlides1 var(--animation-time) linear infinite normal;
  --imageAnimation2: imageSlides2 var(--animation-time) linear infinite normal;
  --imageAnimation3: imageSlides3 var(--animation-time) linear infinite normal;
  --imageAnimation4: imageSlides4 var(--animation-time) linear infinite normal;
  --imageAnimation5: imageSlides5 var(--animation-time) linear infinite normal;
  --imageAnimation6: imageSlides6 var(--animation-time) linear infinite normal;
  --delay1: var(--animation-delay1);
  --delay2: var(--animation-delay2);
  // grid
  grid-column: 2 / -2;
  grid-row: 3 / 4;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100%;
}
.home__image {
  display: grid;
  // grid-template-rows: 15rem 1fr;
  justify-content: center;
  align-content: center;
  opacity: 0;
  width: 100%;
  height: 100%;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background-size: cover;
  background-position: center;
  & > .home__image--text {
    grid-row: 1 / 2;
    font-size: 5rem;
    color: var(--text-dark-theme);
    text-shadow: 0 0 2rem var(--text-light-theme), 0 0 0.5rem var(--text-light-theme);
    background-color: transparent;
    // align-self: center;
    // justify-self: center;
  }
  &--1 {
    background-image: url('https://images.unsplash.com/photo-1526498460520-4c246339dccb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
  }
  &--2 {
    background-image: url('https://images.unsplash.com/photo-1509785307050-d4066910ec1e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=928&q=80');
  }
  &--3 {
    background-image: url('https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80');
    grid-template-rows: 15rem 1fr;
    & > .home__image--text {
      color: var(--text-light-theme);
      text-shadow: 0 0 2rem var(--text-dark-theme), 0 0 0.5rem var(--text-dark-theme);
      align-self: end;
      justify-self: center;
    }
  }
}
#home__switch {
  // First image animation
  &--1:checked ~ .home__container {
    & > .home__image--1 {
      animation: var(--imageAnimation1);
      // No Delay
    }
    & > .home__image--2 {
      animation: var(--imageAnimation1);
      animation-delay: var(--delay1);
    }
    & > .home__image--3 {
      animation: var(--imageAnimation1);
      animation-delay: var(--delay2);
    }
  }
  &--1:checked ~ .home__switch__label {
    &--1 {
      grid-column: 3 / 6;
      z-index: 5;
      background-color: var(--background-color);
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      &::before {
        content: '';
        grid-column: 1 / 2;
        @include filledDot;
      }
      & i {
        display: block;
        grid-column: 2 / 3;
        @include filledDot;
      }
      &::after {
        content: '';
        display: block;
        grid-column: 3 / 4;
        @include filledDot;
      }
    }
    &--4 {
      grid-column: 3 / 4;
      animation: var(--switchAnimation1-1);
      display: grid;
      & i {
        display: block;
        @include emptyDot;
      }
    }
    &--2 {
      grid-column: 4 / 5;
      animation: var(--switchAnimation1-2);
      display: grid;
      & i {
        display: block;
        @include emptyDot;
      }
    }
    &--3 {
      grid-column: 5 / 6;
      animation: var(--switchAnimation1-3);
      display: grid;
      & i {
        display: block;
        @include emptyDot;
      }
    }
    &--5 {
      grid-column: 4 / 5;
      z-index: 0;
    }
    &--6 {
      grid-column: 5 / 6;
      z-index: 0;
    }
  }
  &--4:checked ~ .home__container {
    & > .home__image--1 {
      animation: var(--imageAnimation4);
      // No Delay
    }
    & > .home__image--2 {
      animation: var(--imageAnimation4);
      animation-delay: var(--delay1);
    }
    & > .home__image--3 {
      animation: var(--imageAnimation4);
      animation-delay: var(--delay2);
    }
  }
  &--4:checked ~ .home__switch__label {
    &--4 {
      grid-column: 3 / 6;
      z-index: 5;
      background-color: var(--background-color);
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      &::before {
        content: '';
        grid-column: 1 / 2;
        @include filledDot;
      }
      & i {
        display: block;
        grid-column: 2 / 3;
        @include filledDot;
      }
      &::after {
        content: '';
        display: block;
        grid-column: 3 / 4;
        @include filledDot;
      }
    }
    &--1 {
      grid-column: 3 / 4;
      animation: var(--switchAnimation4-1);
      display: grid;
      & i {
        display: block;
        @include emptyDot;
      }
    }
    &--2 {
      grid-column: 4 / 5;
      animation: var(--switchAnimation4-2);
      display: grid;
      & i {
        display: block;
        @include emptyDot;
      }
    }
    &--3 {
      grid-column: 5 / 6;
      animation: var(--switchAnimation4-3);
      display: grid;
      & i {
        display: block;
        @include emptyDot;
      }
    }
    &--5 {
      grid-column: 4 / 5;
      z-index: 0;
    }
    &--6 {
      grid-column: 5 / 6;
      z-index: 0;
    }
  }
  // Second image animation
  &--2:checked ~ .home__container {
    & > .home__image--2 {
      animation: var(--imageAnimation2);
      // No Delay
    }
    & > .home__image--3 {
      animation: var(--imageAnimation2);
      animation-delay: var(--delay1);
    }
    & > .home__image--1 {
      animation: var(--imageAnimation2);
      animation-delay: var(--delay2);
    }
  }
  &--2:checked ~ .home__switch__label {
    &--2 {
      grid-column: 3 / 6;
      z-index: 5;
      background-color: var(--background-color);
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      &::before {
        content: '';
        grid-column: 1 / 2;
        @include filledDot;
      }
      & i {
        display: block;
        grid-column: 2 / 3;
        @include filledDot;
      }
      &::after {
        content: '';
        display: block;
        grid-column: 3 / 4;
        @include filledDot;
      }
    }
    &--1 {
      grid-column: 3 / 4;
      animation: var(--switchAnimation2-1);
      display: grid;
      & i {
        display: block;
        @include emptyDot;
      }
    }
    &--5 {
      grid-column: 4 / 5;
      animation: var(--switchAnimation2-2);
      display: grid;
      & i {
        display: block;
        @include emptyDot;
      }
    }
    &--3 {
      grid-column: 5 / 6;
      animation: var(--switchAnimation2-3);
      display: grid;
      & i {
        display: block;
        @include emptyDot;
      }
    }
    &--4 {
      grid-column: 4 / 5;
      z-index: 0;
    }
    &--6 {
      grid-column: 5 / 6;
      z-index: 0;
    }
  }
  &--5:checked ~ .home__container {
    & > .home__image--2 {
      animation: var(--imageAnimation5);
      // No Delay
    }
    & > .home__image--3 {
      animation: var(--imageAnimation5);
      animation-delay: var(--delay1);
    }
    & > .home__image--1 {
      animation: var(--imageAnimation5);
      animation-delay: var(--delay2);
    }
  }
  &--5:checked ~ .home__switch__label {
    &--5 {
      grid-column: 3 / 6;
      z-index: 5;
      background-color: var(--background-color);
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      &::before {
        content: '';
        grid-column: 1 / 2;
        @include filledDot;
      }
      & i {
        display: block;
        grid-column: 2 / 3;
        @include filledDot;
      }
      &::after {
        content: '';
        display: block;
        grid-column: 3 / 4;
        @include filledDot;
      }
    }
    &--1 {
      grid-column: 3 / 4;
      animation: var(--switchAnimation5-1);
      display: grid;
      & i {
        display: block;
        @include emptyDot;
      }
    }
    &--2 {
      grid-column: 4 / 5;
      animation: var(--switchAnimation5-2);
      display: grid;
      & i {
        display: block;
        @include emptyDot;
      }
    }
    &--3 {
      grid-column: 5 / 6;
      animation: var(--switchAnimation5-3);
      display: grid;
      & i {
        display: block;
        @include emptyDot;
      }
    }
    &--4 {
      grid-column: 4 / 5;
      z-index: 0;
    }
    &--6 {
      grid-column: 5 / 6;
      z-index: 0;
    }
  }
  // Third image animation
  &--3:checked ~ .home__container {
    & > .home__image--3 {
      animation: var(--imageAnimation3);
      // No Delay
    }
    & > .home__image--1 {
      animation: var(--imageAnimation3);
      animation-delay: var(--delay1);
    }
    & > .home__image--2 {
      animation: var(--imageAnimation3);
      animation-delay: var(--delay2);
    }
  }
  &--3:checked ~ .home__switch__label {
    &--3 {
      grid-column: 3 / 6;
      z-index: 5;
      background-color: var(--background-color);
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      &::before {
        content: '';
        grid-column: 1 / 2;
        @include filledDot;
      }
      & i {
        display: block;
        grid-column: 2 / 3;
        @include filledDot;
      }
      &::after {
        content: '';
        display: block;
        grid-column: 3 / 4;
        @include filledDot;
      }
    }
    &--1 {
      grid-column: 3 / 4;
      animation: var(--switchAnimation3-1);
      display: grid;
      & i {
        display: block;
        @include emptyDot;
      }
    }
    &--2 {
      grid-column: 4 / 5;
      animation: var(--switchAnimation3-2);
      display: grid;
      & i {
        display: block;
        @include emptyDot;
      }
    }
    &--6 {
      grid-column: 5 / 6;
      animation: var(--switchAnimation3-3);
      display: grid;
      & i {
        display: block;
        @include emptyDot;
      }
    }
    &--4 {
      grid-column: 4 / 5;
      z-index: 0;
    }
    &--5 {
      grid-column: 5 / 6;
      z-index: 0;
    }
  }
  &--6:checked ~ .home__container {
    & > .home__image--3 {
      animation: var(--imageAnimation6);
      // No Delay
    }
    & > .home__image--1 {
      animation: var(--imageAnimation6);
      animation-delay: var(--delay1);
    }
    & > .home__image--2 {
      animation: var(--imageAnimation6);
    }
  }
  &--6:checked ~ .home__switch__label {
    &--6 {
      grid-column: 3 / 6;
      z-index: 5;
      background-color: var(--background-color);
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      &::before {
        content: '';
        grid-column: 1 / 2;
        @include filledDot;
      }
      & i {
        display: block;
        grid-column: 2 / 3;
        @include filledDot;
      }
      &::after {
        content: '';
        display: block;
        grid-column: 3 / 4;
        @include filledDot;
      }
    }
    &--1 {
      grid-column: 3 / 4;
      animation: var(--switchAnimation6-1);
      animation-delay: var(--delay1);
      display: grid;
      & i {
        display: block;
        @include emptyDot;
      }
    }
    &--2 {
      grid-column: 4 / 5;
      animation: var(--switchAnimation6-2);
      display: grid;
      & i {
        display: block;
        @include emptyDot;
      }
    }
    &--3 {
      grid-column: 5 / 6;
      animation: var(--switchAnimation6-3);
      display: grid;
      & i {
        display: block;
        @include emptyDot;
      }
    }
    &--4 {
      grid-column: 4 / 5;
      z-index: 0;
    }
    &--5 {
      grid-column: 5 / 6;
      z-index: 0;
    }
  }
}
// Have to use different animations so they are run from the beginning for each label
// Image Animations
@keyframes imageSlides1 {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
    z-index: 0;
  }
  6% {
    opacity: 1;
    animation-timing-function: ease-out;
    z-index: 10;
  }
  34% {
    opacity: 1;
    z-index: 10;
  }
  40% {
    opacity: 0;
    z-index: 0;
  }
}
@keyframes imageSlides2 {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
    z-index: 0;
  }
  6% {
    opacity: 1;
    animation-timing-function: ease-out;
    z-index: 10;
  }
  34% {
    opacity: 1;
    z-index: 10;
  }
  40% {
    opacity: 0;
    z-index: 0;
  }
}
@keyframes imageSlides3 {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
    z-index: 0;
  }
  6% {
    opacity: 1;
    animation-timing-function: ease-out;
    z-index: 10;
  }
  34% {
    opacity: 1;
    z-index: 10;
  }
  40% {
    opacity: 0;
    z-index: 0;
  }
}
@keyframes imageSlides4 {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
    z-index: 0;
  }
  6% {
    opacity: 1;
    animation-timing-function: ease-out;
    z-index: 10;
  }
  34% {
    opacity: 1;
    z-index: 10;
  }
  40% {
    opacity: 0;
    z-index: 0;
  }
}
@keyframes imageSlides5 {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
    z-index: 0;
  }
  6% {
    opacity: 1;
    animation-timing-function: ease-out;
    z-index: 10;
  }
  34% {
    opacity: 1;
    z-index: 10;
  }
  40% {
    opacity: 0;
    z-index: 0;
  }
}
@keyframes imageSlides6 {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
    z-index: 0;
  }
  6% {
    opacity: 1;
    animation-timing-function: ease-out;
    z-index: 10;
  }
  34% {
    opacity: 1;
    z-index: 10;
  }
  40% {
    opacity: 0;
    z-index: 0;
  }
}
// Switch Animations
@keyframes switchShow1 {
  0% {
    opacity: 1;
    animation-timing-function: ease-out;
    z-index: 10;
  }
  66% {
    opacity: 1;
    animation-timing-function: ease-out;
    z-index: 10;
  }
  67% {
    opacity: 0;
    animation-timing-function: ease-in;
    z-index: 0;
  }
  99% {
    opacity: 0;
    animation-timing-function: ease-in;
    z-index: 0;
  }
  100% {
    opacity: 1;
    animation-timing-function: ease-out;
    z-index: 10;
  }
}
@keyframes switchShow1-2 {
  0% {
    opacity: 1;
    animation-timing-function: ease-out;
    z-index: 10;
  }
  33% {
    opacity: 1;
    animation-timing-function: ease-out;
    z-index: 10;
  }
  34% {
    opacity: 0;
    animation-timing-function: ease-in;
    z-index: 0;
  }
  66% {
    opacity: 0;
    animation-timing-function: ease-in;
    z-index: 0;
  }
  67% {
    opacity: 1;
    animation-timing-function: ease-out;
    z-index: 10;
  }
  100% {
    opacity: 1;
    z-index: 10;
  }
}
@keyframes switchShow2 {
  0% {
    opacity: 1;
    animation-timing-function: ease-out;
    z-index: 10;
  }
  66% {
    opacity: 1;
    animation-timing-function: ease-out;
    z-index: 10;
  }
  67% {
    opacity: 0;
    animation-timing-function: ease-in;
    z-index: 0;
  }
  99% {
    opacity: 0;
    animation-timing-function: ease-in;
    z-index: 0;
  }
  100% {
    opacity: 1;
    animation-timing-function: ease-out;
    z-index: 10;
  }
}
@keyframes switchShow2-2 {
  0% {
    opacity: 1;
    animation-timing-function: ease-out;
    z-index: 10;
  }
  33% {
    opacity: 1;
    animation-timing-function: ease-out;
    z-index: 10;
  }
  34% {
    opacity: 0;
    animation-timing-function: ease-in;
    z-index: 0;
  }
  66% {
    opacity: 0;
    animation-timing-function: ease-in;
    z-index: 0;
  }
  67% {
    opacity: 1;
    animation-timing-function: ease-out;
    z-index: 10;
  }
  100% {
    opacity: 1;
    z-index: 10;
  }
}
@keyframes switchShow3 {
  0% {
    opacity: 1;
    animation-timing-function: ease-out;
    z-index: 10;
  }
  66% {
    opacity: 1;
    animation-timing-function: ease-out;
    z-index: 10;
  }
  67% {
    opacity: 0;
    animation-timing-function: ease-in;
    z-index: 0;
  }
  99% {
    opacity: 0;
    animation-timing-function: ease-in;
    z-index: 0;
  }
  100% {
    opacity: 1;
    animation-timing-function: ease-out;
    z-index: 10;
  }
}
@keyframes switchShow3-2 {
  0% {
    opacity: 1;
    animation-timing-function: ease-out;
    z-index: 10;
  }
  33% {
    opacity: 1;
    animation-timing-function: ease-out;
    z-index: 10;
  }
  34% {
    opacity: 0;
    animation-timing-function: ease-in;
    z-index: 0;
  }
  66% {
    opacity: 0;
    animation-timing-function: ease-in;
    z-index: 0;
  }
  67% {
    opacity: 1;
    animation-timing-function: ease-out;
    z-index: 10;
  }
  100% {
    opacity: 1;
    z-index: 10;
  }
}
@keyframes switchShow4 {
  0% {
    opacity: 1;
    animation-timing-function: ease-out;
    z-index: 10;
  }
  66% {
    opacity: 1;
    animation-timing-function: ease-out;
    z-index: 10;
  }
  67% {
    opacity: 0;
    animation-timing-function: ease-in;
    z-index: 0;
  }
  99% {
    opacity: 0;
    animation-timing-function: ease-in;
    z-index: 0;
  }
  100% {
    opacity: 1;
    animation-timing-function: ease-out;
    z-index: 10;
  }
}
@keyframes switchShow4-2 {
  0% {
    opacity: 1;
    animation-timing-function: ease-out;
    z-index: 10;
  }
  33% {
    opacity: 1;
    animation-timing-function: ease-out;
    z-index: 10;
  }
  34% {
    opacity: 0;
    animation-timing-function: ease-in;
    z-index: 0;
  }
  66% {
    opacity: 0;
    animation-timing-function: ease-in;
    z-index: 0;
  }
  67% {
    opacity: 1;
    animation-timing-function: ease-out;
    z-index: 10;
  }
  100% {
    opacity: 1;
    z-index: 10;
  }
}
@keyframes switchShow5 {
  0% {
    opacity: 1;
    animation-timing-function: ease-out;
    z-index: 10;
  }
  66% {
    opacity: 1;
    animation-timing-function: ease-out;
    z-index: 10;
  }
  67% {
    opacity: 0;
    animation-timing-function: ease-in;
    z-index: 0;
  }
  99% {
    opacity: 0;
    animation-timing-function: ease-in;
    z-index: 0;
  }
  100% {
    opacity: 1;
    animation-timing-function: ease-out;
    z-index: 10;
  }
}
@keyframes switchShow5-2 {
  0% {
    opacity: 1;
    animation-timing-function: ease-out;
    z-index: 10;
  }
  33% {
    opacity: 1;
    animation-timing-function: ease-out;
    z-index: 10;
  }
  34% {
    opacity: 0;
    animation-timing-function: ease-in;
    z-index: 0;
  }
  66% {
    opacity: 0;
    animation-timing-function: ease-in;
    z-index: 0;
  }
  67% {
    opacity: 1;
    animation-timing-function: ease-out;
    z-index: 10;
  }
  100% {
    opacity: 1;
    z-index: 10;
  }
}
@keyframes switchShow6 {
  0% {
    opacity: 1;
    animation-timing-function: ease-out;
    z-index: 10;
  }
  66% {
    opacity: 1;
    animation-timing-function: ease-out;
    z-index: 10;
  }
  67% {
    opacity: 0;
    animation-timing-function: ease-in;
    z-index: 0;
  }
  99% {
    opacity: 0;
    animation-timing-function: ease-in;
    z-index: 0;
  }
  100% {
    opacity: 1;
    animation-timing-function: ease-out;
    z-index: 10;
  }
}
@keyframes switchShow6-2 {
  0% {
    opacity: 1;
    animation-timing-function: ease-out;
    z-index: 10;
  }
  33% {
    opacity: 1;
    animation-timing-function: ease-out;
    z-index: 10;
  }
  34% {
    opacity: 0;
    animation-timing-function: ease-in;
    z-index: 0;
  }
  66% {
    opacity: 0;
    animation-timing-function: ease-in;
    z-index: 0;
  }
  67% {
    opacity: 1;
    animation-timing-function: ease-out;
    z-index: 10;
  }
  100% {
    opacity: 1;
    z-index: 10;
  }
}
