// basic config
* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-weight: 400;
  line-height: 1.6;
}

// Variables
:root {
  --background-light-theme: #fff;
  --background-dark-theme: #000;
  --text-light-theme: #000;
  --text-dark-theme: #fff;
}

// Section config
section:not(:target) {
  display: none;
}
