@import 'game-mixins';
#game:target ~ #page-404 {
  display: none;
}
#game:target {
  display: grid;
  grid-template-rows: 10vh repeat(3, 20vmin) 1fr;
  grid-auto-rows: 0.5rem;
  grid-template-columns: 1fr repeat(3, 20vmin) 1fr;
  --animation-interval: 0.1s;
  --animation-delay-1: 0s;
  --animation-delay-2: calc(var(--animation-interval) * 2);
  --animation-delay-3: calc(var(--animation-interval) * 4);
  --animation-delay-4: calc(var(--animation-interval) * 6);
  .game__switch__radio {
    display: none;
  }
  label {
    display: none;
    transition: none;
  }
  i {
    transition: none;
    font-style: normal;
    background-color: transparent;
  }
  .game__switch__label--000_010_000 {
    grid-row: 1/2;
    grid-column: 3/4;
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: transparent;
    &::before {
      content: 'Re-Start';
      font-size: 5vmin;
      color: var(--main-color);
    }
  }
  // Start
  #game__switch--000_000_000:checked ~ .game__tile--1 {
    @include tile($top, $left);
  }
  #game__switch--000_000_000:checked ~ .game__tile--2 {
    @include tile($top, $center);
  }
  #game__switch--000_000_000:checked ~ .game__tile--3 {
    @include tile($top, $right);
  }
  #game__switch--000_000_000:checked ~ .game__tile--4 {
    @include tile($center, $left);
  }
  #game__switch--000_000_000:checked ~ .game__tile--5 {
    @include tile($center, $center);
  }
  #game__switch--000_000_000:checked ~ .game__tile--6 {
    @include tile($center, $right);
  }
  #game__switch--000_000_000:checked ~ .game__tile--7 {
    @include tile($bottom, $left);
  }
  #game__switch--000_000_000:checked ~ .game__tile--8 {
    @include tile($bottom, $center);
  }
  #game__switch--000_000_000:checked ~ .game__tile--9 {
    @include tile($bottom, $right);
  }
  #game__switch--000_000_000:checked ~ .game__switch__label--000_010_000 {
    @include massage($start) {
      &::before {
        animation: none;
        animation: draw-win-line var(--animation-interval) ease-in-out var(--animation-delay-2) 1
          normal both;
      }
    }
  }
  // 1st
  // 1 row
  @include top-left('000_010_000', '200_010_003');
  @include top-center('000_010_000', '320_010_000');
  @include top-right('000_010_000', '002_010_300');
  // 2 row
  @include center-left('000_010_000', '300_210_000');
  @include center-center('000_010_000');
  @include center-right('000_010_000', '003_012_000');
  // 3 row
  @include bottom-left('000_010_000', '003_010_200');
  @include bottom-center('000_010_000', '000_010_320');
  @include bottom-right('000_010_000', '300_010_002');

  // Branches
  // 1st row
  @import '200_010_003';
  @import '320_010_000';
  @import '002_010_300';
  // 2nd row
  @import '300_210_000';
  @import '003_012_000';
  // 3rd row
  @import '003_010_200';
  @import '000_010_320';
  @import '300_010_002';
}
